.heximage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width:100%;
  height:100%;
}

.army-icon {
  z-index: 5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  position: relative;
  width: 75%;
  height: 75%;
}

.army-is-untapped {
  animation-name: very-subtle-blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.highlight-tile {
  animation-name: blink;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes very-subtle-blink {
  50% {
    filter: saturate(8);
  }
}

@keyframes blink {
  50% {
    filter: saturate(8);
    opacity: 40%;
  }
}
