.heximage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  height: auto;
}

.city-icon {
  z-index: 10;
  display: block;
  margin-top: 15px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: auto;
}

.army-icon {
  z-index: 20;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: auto;
}

.own-army {
  filter: sepia(100%) hue-rotate(80deg) saturate(2.5);
}

.enemy-army {
  filter: sepia(100%) hue-rotate(310deg) saturate(5);
}

.army-is-untapped {
  animation-name: bob;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.highlight-tile {
  animation-name: slow-blink;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bob {
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}


@keyframes slow-blink {
  0% {
    filter: brightness(1.2) saturate(1.5);
  }
}
