.battle-player-label {
    margin: 1vh 1vw;
    border-radius: 10px;
    box-shadow: 2px 3px  7px black;
}

.battle-own-player-label {
    color: black;
    
}

.battle-other-player-label {
    color: red
}

.battle-active-turn {
    background-color: lightgreen;
    animation-name: blink; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.battle-inactive-turn {
    background-color: white;
}

@keyframes blink {
  50% {
    filter: saturate(2);
    opacity: 80%;
  }
}

.current-unit-class-title {
    text-align: center;
    color: lightyellow;
    animation-name: blink; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.ambush-title {
    width: 100%;
    margin-top: 1vh;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px black;
    animation-name: blink; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.battle-map-container {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background-image: url('./in-battle-background.jpg');
    background-size: 100% 100%;
}