.icon-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 80%;
  width: auto;
}

.garrison-unit-container {
  height: 3vh;
  max-height: 3vh;
  overflow: hidden;
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  box-shadow: 0px 2px black;
  margin-bottom: 1vh;
  width: 95%;
}

.unit-icon {
  position: absolute;
  height: 75%;
  width: auto;
  top: 50%;
  transform: translateY(-50%);  
  left: 50%;
}

.kinda-tiny-hammer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20%;
  height: 1.8vh;
  width: auto;
}

.bold-title {
  font-weight: bold;
}