.unit-option-container {
  height: 6vh;
  max-height: 6vh;
  overflow: hidden;
  background-color: rgb(231, 230, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 1vh;
  text-align: center;
  width: 95%;
  color: black;
}

.vertically-center {
    height: 100%;
    width: auto;
}

.train-unit-button {
  position: absolute;
  top: 16%;
  right: 10%;
}
.really-tiny-hammer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 1.2vh;
  width: auto;
}

.black-hero-unit-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 3vh;
  width: auto;
}

.really-tiny-timer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 1.2vh;
  width: auto;
}