.tiny-hammer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 1.7vh;
  width: auto;
}

.tiny-hero-unit-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 1.7vh;
  width: auto;
  filter: invert();
}

.resume-training-button {
  margin-bottom: 1vh;
  width: 90%;
  text-align: center;
}