.attributions-container {
    background-color: rgba(0, 0, 0, 50%);
    border-radius: 10px 0px 0px 0px;
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;
    position: fixed;
    bottom: 0;
    right: 0;
}

.icon-attributions-header {
    padding-top: 1vh;
    padding-left: 1vw;
}

.attributions-scrollbar-row {
    padding-left: 1vw;
    height: 25vh;
    min-height: 25vh;
    max-height: 25vh;
}

.photo-attributions-row {
    padding-left: 1vw;
}

.attributions-container a {
    color: lightblue;
}

.attributions-container a:hover {
    color: cyan;
}

.tiny-icon-image {
    background-color: white;
    height: 2vh;
    width: auto;
}