.building-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  width: auto;
}

.tiny-hammer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 2vh;
  width: auto;
}