.building-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  height: 20vh;
  min-height: 20vh;
  max-height: 20vh;
  width: auto;
  background-color: white;
  padding: 1vh 0;
  border-radius: 10px;
}

.tiny-hammer-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 2vh;
  width: auto;
  filter: invert();
}