.left-sidebar-container {
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;
}

.right-sidebar-container {
    width: 30vw;
    min-width: 30vw;
    max-width: 30vw;
}

.centerpiece-container {
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
}

.modal-dialog-custom-sizing {
    position: absolute;
    width: 80vw;
    min-width: 80vw;
    max-width: 80vw;
}

.uncloseable-modal-custom-background .modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.advanced-details-modal-custom-background .modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.player-labels-container {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.round-counter {
    width: 10vw;
    min-width: 10vw;
    max-width: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4vh;
    border-radius: 15px;
    text-align: center;
    margin: auto 1vw;
}

.game-board-player-label {
    width: 40vw;
    min-width: 40vw;
    max-width: 40vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 2px black;
    background-color: black;
}

.game-board-own-player-label {
    color: lime;
}

.game-board-other-player-label {
    color: pink;
}

.game-board-active-turn {
    animation-name: game-board-player-label-blink; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    box-shadow: 0px 0px 3px 3px lightgoldenrodyellow;
}

.game-board-inactive-turn {
    opacity: 50%;
}

@keyframes game-board-player-label-blink {
  50% {
    box-shadow: 0px 0px 10px 10px lightgoldenrodyellow;
  }
}