.commander-image {
  display: block;
  margin: auto;
  position: absolute;
  height: 15vh;
  min-height: 15vh;
  max-height: 15vh;
  width: auto;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}