.army-unit-image {
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
}

.own-unit-image {
    background-color: rgb(215, 247, 185);
}

.enemy-unit-image {
    background-color: rgb(247, 185, 185);
}

.empty-unit-image {
    background-color: rgb(211, 211, 211);
}

.unit-label {
    margin: auto;
}

.unit-labels-container {
    background-color: rgba(0, 0, 0, 70%);
    width: 4vw;
    margin: 1vh auto;
    padding-bottom: 0.5vh;
    border-radius: 10px;
}

.own-selected-unit {
    filter: brightness(150%);
    animation-name: bob;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.targetable-enemy-unit {
    border: 4px dotted red;
    box-shadow: 0px 0px 20px 6px red;
    opacity: 100%;
}

.unit-is-tapped {
    opacity: 25%;
}

.unit-eligible-for-command {
    border: 4px dotted blue;
    box-shadow: 0px 0px 20px 6px blue;
}

@keyframes bob {
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}