.unit-details-image {
    display: block;
    position: relative;
    height: 100%;
    width: auto;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.medium-hero-unit-icon {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 5vh;
  width: auto;
  filter: invert();
}